name: golang
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21.x'
      - name: Install dependencies
        run: go mod download
      - name: Lint
        run: go vet ./...
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test ./...
